<div class="project-card">
    <img src="@ImageUrl" alt="@Title" class="project-image" />

    <div class="project-info">
        <h3>@Title</h3>
        <p>@Description</p>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Description { get; set; } = string.Empty;
    [Parameter] public string ImageUrl { get; set; } = string.Empty;
}
